.navbar ul li a{
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 183, 255);
   
}
.navbar ul li a:hover{
    color:var(--yellow);
    text-decoration: underline;
}
 .navbar .navbar-toggler-icon{
    color: aqua;
}
.navbar .navbar-toggler{
    background: rgb(0, 183, 255);
    color: var(--orange);
    
}

.navbar-brand{
    color: rgb(0, 183, 255);
    
    
    font-weight: 600;
    
}
.n-button{
    flex: 2;
}








